extends layout
include ortak_fonksiyonlar/fonksiyonlar
block content
  -var gelenMekan = mekanBilgisi[0]
    if id == 1
      -gelenMekan = mekanBilgisi[0]
    else if id == 2
      -gelenMekan = mekanBilgisi[1]
    else if id == 3
      -gelenMekan = mekanBilgisi[2]
    else if id == 4
      -gelenMekan = mekanBilgisi[3]
    else 
      -gelenMekan = mekanBilgisi[4]
      

  
  .row.page-header
    .col-lg-12

      //Mekanın adı
      h1= gelenMekan.ad
  .row
    //Responsive yap
    .col-xs-12.col-md-12
      .row
        .col-xs-12.col-sm-6
          //Yıldızları ekle
          p.rating
             +puanOlustur(gelenMekan.puan)
          //Mekanın adresi
          p= gelenMekan.adres
          .panel.panel-primary
            .panel-heading
              h2.panel-title Açılış Saatleri
            .panel-body
              each saat in gelenMekan.saatler
                p
                  | #{saat.günler}; 
                  if saat.kapali
                    | Kapalı
                  else
                    |#{saat.acilis}-#{saat.kapanis}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Neler Var
            .panel-body
              each imkan in gelenMekan.imkanlar
                span.label.label-warning= imkan
                  span.glyphicon.glyphicon-ok
                | &nbsp;     
        //Haritayı ekleme işlemi
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Konum Bilgisi
            .panel-body
              //Harita eklemek için Google'dan API anahtarı almanız gerekiyor. key kısmından sonra yer alan kısım API KEY.
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=37.781406, 30.565119&zoom=12&size=600x400&markers=37.781406, 30.565119&key=AIzaSyBRm7jXjoZsjTW57spNXdd2iyHLJLrRe60')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              //Yorum ekle düğmesini ekle
              a.btn.btn-default.pull-right(href='/mekan/#{gelenMekan._id}/yorum/yeni') Yorum Yapmalısın :)
              h2.panel-title Müşteri Yorumları
            .panel-body.review-container
              each yorum in gelenMekan.yorumlar
                .row
                 .review
                  .well.well-sm.review-header
                    spam.rating
                      +puanOlustur(yorum.puan)
                    span.reviewAuthor #{yorum.yorumYapan}
                    small.reviewTimestamp  | #{yorum.tarih}
                  .col-xs-12
                    p #{yorum.yorumMetni}


                    