extends layout
include ortak_fonksiyonlar/fonksiyonlar
block content
  .row.page-header
    .col-lg-12
      //Mekanın adı
      h1= sayfaBaslik
  .row
    //Responsive yap
    .col-xs-12.col-md-12
      .row
        .col-xs-12.col-sm-6
          //Yıldızları ekle
          p.rating
            +puanOlustur(mekanBilgisi.puan)
          //Mekanın adresi
          p= mekanBilgisi.adres
          .panel.panel-primary
            .panel-heading
              h2.panel-title Açılış Saatleri
            .panel-body
              each saat in mekanBilgisi.saatler
                p
                  | #{saat.gunler}: 
                  if saat.kapali
                    | Kapalı
                  else
                    | #{saat.acilis} - #{saat.kapanis}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Neler Var
            .panel-body
              each imkan in mekanBilgisi.imkanlar
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;#{imkan}
                | &nbsp;
              //Haritayı ekleme işlemi
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Konum Bilgisi
            .panel-body
              //Harita eklemek için Google'dan API anahtarı almanız gerekiyor. key kısmından sonra yer alan kısım API KEY.
              -var enlem= mekanBilgisi.koordinatlar.enlem
              -var boylam= mekanBilgisi.koordinatlar.boylam
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyBRm7jXjoZsjTW57spNXdd2iyHLJLrRe60')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              //Yorum ekle düğmesini ekle
              a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle
              h2.panel-title Müşteri Yorumları
            .panel-body.review-container
               each yorum in mekanBilgisi.yorumlar
                .row
                 .review
                  .well.well-sm.review-header
                    span.rating
                      +puanOlustur(yorum.puan)
                    span.reviewAuthor #{yorum.yorumYapan}  
                    small.reviewTimestamp 
                      | #{yorum.tarih}
                  .col-xs-12
                    p #{yorum.yorumMetni}