extends layout
include ortak_fonksiyonlar/fonksiyonlar
block content
  #banner.page-header
    //satır oluştur
    .row
      .col-lg-6
        //Controller içinde tanımladığımız değişkenleri kullandık
        //Ya eşittir işaretiyle ya da #{} biçiminde
        h1= sayfaBaslik.siteAd
          small &nbsp;#{sayfaBaslik.aciklama}
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //each ifadesi dizide dolaşmayı sağlar.
      //Bir nevi for döngüsü
      each mekan in mekanlar
       .row.list-group
        .col-xs-12.list-group-item
            //Linklerin, yıldızların ve adresin oluşturulması
            h4
              a(href='/mekan')= mekan.ad
              small &nbsp;
              //Javascript kodu eklemek için - işareti kullanılır.
              //For döngüsüyle mekan puanı kadar dolu yıldız.
              //Geri kalanlar boş yıldız.
              +puanOlustur(mekan.puan)
            span.badge.pull-right.badge-default= mekan.mesafe
            p.address= mekan.adres
            p
              //imkanlar da dizi olduğu için yine each ile dolaştık
              each imkan in mekan.imkanlar
               span.label.label-warning= imkan
               | &nbsp;          
    .col-xs-12.col-sm-4

